body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.bg-gray-900 {
    background-color: #121826;
}

.bg-brand-teal {
    background-color: #539D98;
}

.bg-white {
    background-color: white;
}

.text-white {
   color: white; 
}

.text-brand-teal{
    color: #90CAC7;
}

.text-brand-teal-dark{
    color: #539D98;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto ;
    margin-right: auto;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.m-8 {
    margin: 8px;
}

.full-width {
    width: 100%;
}

header{
    padding: 18px 12px;
    font-size: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: large;
     
}


#header-links > div > a {
    padding: 8px 16px;
    text-decoration: none;
}

.border-none {
    border: none;
}

#sign-up {
    border-radius: 9999px;
    padding: 12px 24px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px ;
    font-weight: bold;

}


.hero-video {
    top: -98px;
    z-index: -1;
    min-height: px;
    object-fit: cover;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }